@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

:root{
  --grey:#6F6F6F;
  --light-grey:#C8C8C8;
  --light-whitesmoke:#F6F6F6;
}

/* Logging back in */
.login-items > * {
  margin: 16px auto;
}

.wel-back {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;

}

.login-w-btn {
  display: block;
  border: 1px solid #C8C8C8;
  border-radius: 3px;
  background-color: white;
  padding: 15px;
  height: 50px;
  box-sizing: border-box;
}

.login-w-btn > img, p {
  margin-bottom: 2px;
}

.login-w-btn > img {
  width: 22px;
  height: 22px;
  float: left;
}

.login-w-btn > p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-left: 12px;
  float: left;
}
.login-w-btn:hover{
  opacity: 0.8;
  transition: all 0.4s;
}

/* 'Or' line break */
div.or {
  margin: 0 auto;
  width: 365px;
  position: relative;
} /* parent div */

div.or > img {
  width: 365px;
  height: 4px;
  opacity: 0.4;
} /* line img */

div.or > p  {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  width: 28px;
  text-align: center;

  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -14px;
} /* 'or' text */

/* Sign up form */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

form p {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

form input::placeholder {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  opacity: 0.8;
}

form input {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.input-box {
  padding: 14px;
  height: 50px;
  background:var(--light-whitesmoke);
  border: 0.5px solid var(--light-grey);
  border-radius: 3px;
  margin-top: 4px;
}

.submit-btn {
  background: #000000;
  border: none;
  border-radius: 5px;
  padding: 12px 45px;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  cursor: pointer;
}

/* <a> element's text */
.linked-text {
  text-decoration: none;
  color: #FF5959;
}

/* Flexbox container for additional info */
div.additional-info {
  padding: 5px;
  box-sizing: border-box;
}

/* Grayish small text */
div.additional-info a {
  color: #828282;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

/* Remember me container */
div.rmb-me {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

div.rmb-me input {
  margin-left:0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.rmb-me input[type="checkbox"] {
  background-color: rgb(0, 0, 0);
  border: none;
}

.rmb-me input::after {
  background-color: #FF5959;
  border: 2px solid #828282;
  border-radius: 8px;
}

.rmb-me p{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color:var(--grey);
}

/*Forget password*/
.f_ps{
  text-align: right;
}


@media only screen and (max-width:600px){
  /* Logo */
  #logo{
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .input-box {
    padding: 14px;
    width: 290px;
    height: 50px;
    background:var(--light-whitesmoke);
    border: 0.5px solid var(--light-grey);
    border-radius: 3px;
    margin-top: 4px;
  }
  /* 'Or' line break */
  div.or {
    margin: 0 auto;
    width: 290px;
    position: relative;
  } /* parent div */

  div.or > img {
    width: 290px;
    height: 4px;
    opacity: 0.4;
  }
  /*Google and apple*/
  .login-w-btn {
    width: 290px;
  }
  /*forget ps and remember me*/
  /* Flexbox container for additional info */
  div.additional-info {
    width: 290px;
    padding: 5px;
  }
  
}

@media only screen and (min-width:600px){
  /* Logo */
  #logo{
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .input-box {
    width: 355px;
  }
  /* 'Or' line break */
  div.or {
    margin: 0 auto;
    width: 355px;
    position: relative;
  } /* parent div */

  div.or > img {
    width: 355px;
    height: 4px;
    opacity: 0.4;
  }
  /*Google and apple*/
  .login-w-btn {
    width: 355px;
  }
  /*Forget ps and additional feature*/
  div.additional-info {
    width: 355px;
    padding: 5px;
  }
}

@media only screen and (min-width:768px){
  /* Logo */
  #logo {
    margin-left: 65px;
    margin-top: 45px;
  }
}

@media only screen and (min-width:992px){
  
}

@media only screen and (min-width:1200px){
  
}