@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey:#6F6F6F;
    --light-grey:#C8C8C8;
    --light-whitesmoke:#F6F6F6;
}

/*Logo position for mobile and tablet*/
.logo-wrapper{
    text-align: center;
}
.logo-wrapper img{
    margin-top: 35px;
}

/*PW recovery section*/
.pw-recovery-wrapper{
    text-align: center;
}
.pw-reset-caption{
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-family: 'Inter', sans-serif;
}
.pw-paragraph{
    width: auto;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

/*Email input*/
.email-input-wrapper{
    width: fit-content;
    margin: 0 auto;
    margin-top: 35px;
}
.email-input-wrapper label{
    margin-bottom: 10px;
    font-weight: 500;
    display: block;
    text-align: left;
    color: var(--grey);
    font-family: 'Inter', sans-serif;
}
.email-input-wrapper input{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 355px;
    height: 50px;
    border:1px solid var(--light-grey);
    background-color: var(--light-whitesmoke);
    padding-left: 15px;
    outline: none;
    border-radius: 3px;
}

/*CTA buttons*/
.CTA-buttons-wrapper{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
}
.CTA-buttons-wrapper a{
    text-decoration: none;
}
.cancel-btn{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(255, 255, 255);
    width: 120px;
    padding: 12px;
    border-radius: 3px;
}
.cancel-btn:hover{
    border: 0.5px solid black;
    transition: all 0.5s;
}
.cancel-btn a{
    padding: 12px;
    color: black;
}
.continue-btn{
    margin-left: 15px;
}
.continue-btn input{
    color:white;
    cursor: pointer;
    width: 120px;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
.cancel-btn input:hover{
    border: 0.5px solid black;
    transition: all 0.5s;
}


@media only screen and (max-width:600px){
    .pw-recovery-wrapper{
        margin-top: 55px;
    }
    .pw-paragraph{
        font-size: 15px;
    }
    .email-input-wrapper input{
        width: 330px;
    }
}

@media only screen and (min-width:600px){
    .pw-recovery-wrapper{
        margin-top: 55px;
    }
    .pw-paragraph{
        width: 70%;
    }
}

@media only screen and (min-width:768px){
    .pw-paragraph{
        width: 50%;
    }
}

@media only screen and (min-width:992px){
    .pw-paragraph{
        width: 45%;
    }
}


@media only screen and (min-width:1200px){
    .logo-wrapper{
        text-align: initial;
    }
    .logo-wrapper img{
        margin:45px 0px 0px 65px;
    }
    .pw-paragraph{
        width: 32%;
        font-size: 16px;
    }
    .pw-recovery-wrapper{
        margin-top: 0px;
    }
}
